.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        color: blueviolet;
        font-size: 2rem;
        font-weight: 5px;
        margin-bottom: 10px;
    }

    .controls {
        display: flex;
        flex-direction: column;
    }

    .buttons {
        width: 25vw;
        display: flex;
        justify-content: space-around;
    }
}