.article_content {
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 0;
    width: 100%;
    height: 182px;

    .article_content_title {
      line-height: 150%;
      margin: 0;
      color: #58007b;
      width: 80%;
      margin-bottom: 1rem;
      font-size: 3rem;
      font-weight: 500;
    }

    .article_content_annotation {
      color: #737373;
      line-height: 150% !important;
    }

    .article_content_footer {
      display: flex;
      align-items: center;
      margin-top: auto;

      .article_content_date {
        margin-right: 32px;
        font-size: 12px;
        font-family: Roboto, sans-serif !important;
        color: #4a4a4a !important;
        line-height: 27px !important;
      }
    }
  }
