.Counter {
    width: 100vw;
    padding: 5px;

    .Counter__count {
        margin: auto;
        width: 10vw;
        height: 50px;
        line-height: 50px;
        background: linear-gradient(92.18deg, #b569c9 11.81%, blueviolet 87.1%);
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        margin-bottom: 4px;
    }

    .Counter__buttons {
        width: 100vw;
    }

}