.Header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

    .Header__logo {
        height: 60px;
        width: auto;
    }

    .Header__navbar {
        width: 25vw;
        display: flex;
        justify-content: space-around;

        .Header__navbar__link {
            font-size: 16px;
            text-decoration: none;
            color: black;
        }
    }

    .Header__button {
        padding: 12px 30px;
        text-transform: uppercase;
        border: none;
        background-color: blueviolet;
        color: white;
    }

    .Header__button:active {
        background: #e9e9e9;
        position: relative;
        top: 1px;
        color: black;
    }

    .userArea {
        display: flex;
        align-items: center;


        .avatar {
            width: 50px;
            height: auto;
        }

        .userName {
            font-size: 1.5rem;

        }
    }

}