.Card {
    width: 45vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px grey;
    padding: 5px;

    .RunningTitle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Title {
        font-size: 1.2rem;
        color: black;
    }
    
    .GhostText {
        font-size: 1rem;
        font-weight: lighter;
        color: grey;
    }

    
}