.Navigation {
    height: 100px;
    background: linear-gradient(92.18deg, #b569c9 11.81%, blueviolet 87.1%);

    display: flex;
    justify-content: center;
    align-items: center;

    .Navigation__inner {
        width: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .Navigation__inner__link {
            font-size: 18px;
            text-decoration: none;
            color: white;
            font-weight: bold;

            .Navigation__inner__link__OYLA {
                font-size: 22px;
            }
        }
    }
}